# frozen_string_literal: true

module <%= model.module_name %>
  module Types
    include Dry.Types

<% model.polymorphic_gql_references.each do |reference| -%>
    <%= reference.concern_class_name %> = Instance(::<%= reference.concern_class_name %>)
<% end -%>
  end
end
