# frozen_string_literal: true

module Types
  class <%= reference.graphql_type_name %> < Types::BaseUnion
    description <<~TEXT
    TEXT

    possible_types <%= reference.polymorphic_target_types %>
  end
end
