<?xml version="1.0" encoding="UTF-8"?>
<config layout="main" has-background="true" has-variant="false">
  <description>
    A template for listing contributors of note on the main layout of an entity.

    Contained within the `MAIN` layout.
  </description>
  <prop name="background" kind="background">
    <default>
      <![CDATA[
        "none"
      ]]>
    </default>
  </prop>
  <prop name="limit" kind="limit">
    <default>
      <![CDATA[
        3
      ]]>
    </default>
  </prop>
  <slot name="header" kind="inline">
    <default-template>
      <![CDATA[
        Contributors
      ]]>
    </default-template>
  </slot>
</config>
