<?xml version="1.0" encoding="UTF-8"?>
<config layout="list_item" has-background="false" has-variant="false">
  <description>A template for describing how an entity should appear when rendered in a list.

Contained within the `LIST_ITEM` layout.</description>
  <slot name="header" kind="inline">
    <default-template>
      {{ entity.title }}
    </default-template>
  </slot>
  <slot name="subheader" kind="inline">
    <default-template>
      {{ entity.subtitle }}
    </default-template>
  </slot>
  <slot name="description" kind="block"/>
  <slot name="meta_a" kind="inline"/>
  <slot name="meta_b" kind="inline"/>
  <slot name="context_a" kind="inline"/>
  <slot name="context_b" kind="inline"/>
  <slot name="context_c" kind="inline"/>
</config>
