<%-
  # vim: set ft=ruby.eruby nosmartindent noautoindent :
-%>
# frozen_string_literal: true

<%- nest do -%>
# @see <%= operation_full_name %>
class <%= service_name %> < Support::HookBased::Actor
  include Dry::Initializer[undefined: false].define -> do
  end

  standard_execution!

  # @return [Dry::Monads::Result]
  def call
    run_callbacks :execute do
      yield prepare!
    end

    Success()
  end

  wrapped_hook! def prepare
    super
  end
end
<%- end -%>
