<%-
# vim: set ft=ruby.eruby nosmartindent noautoindent :
-%>
# frozen_string_literal: true

module Templates
  module SlotMappings
    # @see Templates::<%= class_name %>Instance
    class <%= class_name %>InstanceSlots < AbstractInstanceSlots
      <%- ::TemplateSlot.for_template(template_kind).each do |slot| -%>
      <%= :"#{slot.slot_kind}!" %> <%= slot.name.to_sym.inspect %>
      <%- end -%>
    end
  end
end
